{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}
<div class="container">Contact us <a href="#"></a>@Altblog.com</div>

<section>
 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ea provident optio blanditiis ipsum corporis, amet, soluta in voluptate odit eligendi suscipit tempora laborum unde. Esse perferendis, provident reiciendis dolorem vel similique aliquam libero, cum laborum, nam commodi veritatis? Exercitationem nobis quidem necessitatibus maxime aspernatur rerum, asperiores harum, corrupti, ad debitis illum. Tempore eaque autem tenetur officia quaerat explicabo soluta!
</section>

{% endblock %}

